<!DOCTYPE html>
<html lang="en">

    <title>Volunteering History</title>
    <head>
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="/dashboard.css">  
</head>
    <body>
      
  </body>
    <table>
      
  <tr>
    <th>Organization</th>
    <th>Number of Hours</th> 
    <th>Date</th>
  </tr>
  <tr>
    <td>Volunteer place 1</td>
    <td> 3</td>
    <td> 2/18/19</td>
  </tr>
  <tr>
    <td>Volunteer place 2</td>
    <td> 2</td>
    <td> 2/20/19</td>
  </tr>
  <tr>
    <td>Volunteer place 3</td>
    <td> 5</td>
    <td> 2/26/19</td>
  </tr>
  <div class="buttons">
      
  <form action="https://lively-legal.glitch.me/hourinput.html">
    <input type="submit" value="Input More Hours" />
    
  </form>   
      <form action="https://lively-legal.glitch.me/emailtest.html">
    <input type="submit" value="Email to Organizations" />
</form>   
    <form action="https://lively-legal.glitch.me/index.html">
    <input type="submit" value="Sign Out" />
</form>   
    </div>
  
</table>

    </html>
    
    