/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #ce9e;
  margin: 20px;
}
h2{
  color: #f3000; 
  
}


.header{
 margin: 20px; 
}




#wrapper h1{
	font-size: 48px;
	color: rgb(2, 106, 117);
	padding: 3px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
	background: 
	-webkit-repeating-linear-gradient(-45deg, 
		rgb(14, 23, 51) , /*black rgb(14, 23, 51) rgb(18, 3, 93)*/
		rgb(40, 165, 255) 20px, /*bright red rgb(40, 165, 255) rgb(250, 33, 73)*/
		rgb(25, 52, 132) 20px, /* dark purple rgb(25, 52, 132) rgb(64, 11, 118)*/
		rgb(58, 208, 255) 40px, /*bright pink rgb(58, 208, 255) rgb(250, 11, 118)*/
		rgb(0, 195, 255) 40px); /*pink rgb(0, 195, 255) rgb(250, 0, 93)*/
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}


form {
  border: 2px solid #2B0000;
}
h2{
 text-align:center;
  font-size:100%;
  font-family: 'TimesNewRoman';
  
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

/* Set a style for all buttons */
button {
  background-color: #4850;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f2896;
}



/* Add padding to containers */
.container {
  padding: 16px;
}


input{
  margin: 4px 0;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
#login{
 width: 500px;
  margin: auto;
  
}
